#banner 
{ 
  height: 40px;
  position:fixed;
  display:inline-block;
  top:0px;
  left:0px;
  width:100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: #630;
}

#banner > img 
{ 
  float:left;
  height: 40px; 
  border: none;
}

#banner > div
{
  border:none;
  background:inherit;
  position:relative;
  margin-left:20px;
  top:10px;
}

#banner > div > span
{
  font-family: verdana, geneva, tahoma, sans-serif;
  font-size: 12px;
  background:inherit;
  color:white;
  border:none;
  margin-right:10px;
}

#login-error-msg 
{
  font-style:italic;
  color:red;
  display:none;
}

.banner-text
{
  cursor:default;
}

#banner-left
{
  float:left;
}

#banner-right
{
  float:right;
}

#username
{
  font-weight:bold;
}

#banner #login
{
  padding-left: 10px;
  padding-right: 10px;
  border-left: thin dotted;
}

#banner #login:hover
{
  color:yellow;
  cursor:pointer;
}

#banner #pagetitle
{
  font-weight:bold;
  font-size:18px;
}

.login-dialog .ui-dialog-titlebar
{
  display:none;
}

.login-dialog .ui-dialog-content
{
  font-size:12px;
}

.login-dialog .ui-dialog .ui-dialog-buttonpane
{
  padding: 0px 0px 0px 0px;
}

.login-dialog .ui-dialog-buttonpane .ui-button-text
{
  font-size:12px;
}

.login-dialog form
{
  margin-bottom: 0em;
}


