/* * { border: thin solid; } */
/*  */
/* div  { background:#fcc; } */
/* span { background:#ccf; } */
/* pre  { background:white; } */
/* p    { background:#ffc; } */

body
{
  margin-top: 48px;
  background: #ccc;
}

